<header class="valign-wrapper">
    <h5 class="center-align flow-text container">Building solid, technical running technique for each distance</h5>
</header>
<div class="container main">
    <div class="row">
        <div class="col m8 s12 card">
            <div class="card-content">
                <p class="flow-text">Premier Track Club is a competitive track and field club that participates in USA Track & Field, AAU, and TAAF track events at various locations within the Dallas / Fort Worth Metroplex. We accept male and female applicants between the ages of eight and nineteen and we encourage parental participation.</p>
                <a ui-sref="about" class="waves-effect waves-light btn" style="margin-top:35px;margin-bottom:35px;">Read More</a>
            </div>
        </div>
        <div class="col m4 s12">

            <ul class="collapsible" data-collapsible="accordion" style="background-color:white;">
                <li ng-repeat="event in $scope.getCalendar">
                  {{event}}
                </li>
                <li class="collection-header" style="border-bottom: 1px solid #ccc;text-transform:uppercase;">
                    <h4 class="center-align">Team Schedule</h4></li>
                <li>
                    <div class="collapsible-header">Thursday, May 25<br><span class="schedule-title">Meet at NCAA West Regionals</span></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Friday, May 29<br>
                        <span class="schedule-title">Practice</span></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Saturday, June 3<br><span class="schedule-title">Meet</span></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li class="center-align" style="padding:10px;">
                    <a ui-sref="schedule" class="waves-effect waves-light btn"><i class="material-icons left" style="color:white;">view_list</i>schedule</a>
                </li>
            </ul>

            <div class="center-align">

            </div>
        </div>

    </div>
    <!-- <h1>Premier Track Club</h1> -->


</div>
