<div class="container" style="margin-top:35px;">
  <div class="row">
    <!-- todo selecting gender before first name causes undefined value -->
    <div class="col s12 card">
      <div class="card-content">
        <h1>Join</h1>
        <p class="flow-text">To register your athlete, complete the form below.</p>
        <div class="row">
          <form class="col s12" id="reg-form" ng-submit="createAthlete(athlete)">
            <div class="row">
              <h5>Athlete's Info</h5>
              <div class="input-field col s6">
                <input type="text" class="validate"  ng-model="athlete.athlete_first" required>
                <label for="first_name">Athlete's First Name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="validate"  ng-model="athlete.athlete_last" required>
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input input-date
                    type="text"
                    name="created"
                    id="inputCreated"
                    ng-model="athlete.dob"
                    container=""
                    format="dd/mm/yyyy"
                    months-full="{{ month }}"
                    months-short="{{ monthShort }}"
                    weekdays-full="{{ weekdaysFull }}"
                    weekdays-short="{{ weekdaysShort }}"
                    weekdays-letter="{{ weekdaysLetter }}"
                    disable="disable"
                    min="{{ minDate }}"
                    max="{{ maxDate }}"
                    today="today"
                    first-day="1"
                    clear="clear"
                    close="close"
                    select-years="15"
                    on-start="onStart()"
                    on-render="onRender()"
                    on-open="onOpen()"
                    on-close="onClose()"
                    on-set="onSet()"
                    on-stop="onStop()"
                    required />
                    <label for="inputCreated">Date of Birth</label>
              </div>
              <div class="section col m6 s12">
                <div input-field>
                    <select name="gender" ng-model="athlete.gender" material-select watch required>
                        <option ng-repeat="value in gender.choices" value="{{value}}">{{value}}</option>
                    </select>
                    <label for="gender">Gender</label>
                </div>

            </div>

            <div class="row">
              <div class="input-field col s12">
                <input type="text" class="validate"  ng-model="athlete.school" />
                <label for="">Current School</label>
              </div>
            </div>
            <div class="row">
              <h5>Your Info</h5>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.parent_first" required />
                <label for="first_name">Parent First Name</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="validate"  ng-model="athlete.parent_last" required />
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" class="validate"  ng-model="athlete.street" required />
                <label>Street Address</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input type="text" class="validate"  ng-model="athlete.city" />
                <label>City</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="validate"  ng-model="athlete.zip" required />
                <label>Zip</label>
              </div>
            </div>
            <div class="row">
              <div class="col m6 s12" input-field>
                <select class="" ng-model="athlete.role" material-select watch required >
                    <option ng-repeat="value in select.choices" value="{{value}}">{{value}}</option>
                </select>
                <label for="last_name">Your Role</label>
              </div>
            </div>
            <div class="row">
              <div class="col m6 s12" input-field required >
                <input type="text" ng-model="athlete.telephone">
                <label>Best Phone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="email" type="email" class="validate"  ng-model="athlete.email" required />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <h5>Emergency Contact #1</h5>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_one_first" required />
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_one_last" required />
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_one_relationship" required />
                <label for="">Relationship</label>
              </div>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_one_phone" required />
                <label for="first_name">Phone</label>
              </div>
            </div>
            <div class="row">
              <h5>Emergency Contact #2</h5>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_two_first" />
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_two_last" />
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_two_relationship" />
                <label for="">Relationship</label>
              </div>
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate"  ng-model="athlete.emergency_two_phone" />
                <label for="first_name">Phone</label>
              </div>
            </div>
            <div class="row">
              <input-field class="col s12">
                  <textarea ng-model="athlete.medications" class="materialize-textarea"></textarea>
                  <label>List any medications your child is taking or health concerns we should know about</label>
              </input-field>
            </div>
            <div class="row">
              <h5>Emergency Medical Treatment</h5>
              <p>Please indicate how you wish for us to respond to your child's needs, in the rare event of a medical emergecy.</p>
              <div class="col s12" input-field>
                <select class="" ng-model="athlete.emergency_choice" material-select watch required >
                    <option ng-repeat="value in emergency.choices" value="{{value}}">{{value}}</option>
                </select>
                <label for="last_name">If my child needs medical attention, please:</label>
              </div>

            </div>

            <div class="form-row">
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display form errors -->
              <div id="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>


            <div class="row">
              <div id="alert" class="alert alert-success animated bounce" data-ng-show="alert" data-ng-bind="alert">
              </div>

              <div class="input-field col s6">
                <button class="btn blue btn-large btn-register waves-effect waves-light" type="submit">Register
                  <i class="material-icons right">done</i>
                </button>
              </div>
            </div>
          </form>
  </div>

      </div>

    </div>
  </div>
</div>
