<div class="container" style="margin-top:35px;">
  <div class="row">
    <div class="col s12 card">
      <div class="card-content">
        <h1>Schedule</h1>
        <p class="flow-text">Premier Track Club was established in 2006 by Track and Field coach, Charles Hinton. Charles "Squeaky" Hinton is a certified USA Track & Field Level One & Level Two Track and Field instructor, and has twenty four years of track coaching experience. Coach Hinton is a graduate of Galveston-Ball High School in Galveston, Texas where he was a two time state champion track runner. From there he attended Texas A&I and was named two time All American for his accomplishments in their track and field program. Coach Hinton coached two years at W.T. White High School, eight years with Track Dallas, and is currently in his fourteen year of coaching at Jesuit College Preparatory High School of Dallas.﻿</p>
      </div>
    </div>
  </div>
</div>
