body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), rgba(255,255,255,0.6) url('img/1511-large.jpg');
    background-size: cover;
  }
.btn-large i {
  color: white;
}

#mobile-demo {
  padding-top:100px;
}

#alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #DFF0D8;
  margin-left:10px;
  margin-top:25px;
  margin-bottom:25px;
}

.side-nav li>a {
  height:70px;
  text-align: center;
}

.side-nav img {
  margin-bottom:30px;
}
  .main {
    flex: 1 0 auto;
    padding-top:5%;
    /*padding-bototm:5%;*/
  }

  .collapsible-header {
    line-height:1.6em;
  }

  .collapsible .collapsible-body {
    padding:10px;
    text-align: center;
  }

nav {
  background: white;

}

.nav-wrapper, i, a.brand-logo {
  color: #333;
}

footer a {
  color: white;
}
.schedule-title {
  font-size:1.25em;
  /*font-size:bold;*/
}

a.brand-logo {
  padding-top:5px;
}
nav li a {
  color: #333;
  font-weight:500;
  /*font-size:14pt;*/
  text-transform: uppercase;
}

form h5 {
  padding-left:10px;
  margin-top:50px;
}

form p {
  padding-left:10px;
  padding-bottom:25px;
}

.page-footer {
    background: #19303f;
  }

.select-wrapper+label {
  font-size: 1rem;
}

.chip:hover {
    background: #666;
    color: white;
}

.social-menu i {
  color: white;
  margin-right:5px;
}
  header {
    background: linear-gradient(rgba(86, 160, 211, 0.7), rgba(0, 0, 0, 0.7)), rgba(0,0,0,0.7) url('img/Track.jpg') center bottom;
    background-size: cover;
    height:225px;
    display:block;
    /*padding-top:90px;*/
    text-transform: uppercase;
    border-bottom:5px solid maroon;

  }


  header h5 {
    display:block;
    line-height: 1.5em;
    /*font-weight: bold;*/
    color: #fafafa;
    font-size: 3em;
    padding:10px 5%;
  }

  li h4 {
    font-size:1.5rem;
  }

  .collapsible-header {
    padding: 10px;
  }

  .collapsible-body {
    padding: 1.5rem;
  }

  .StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

footer {
  margin-top:5%;
}
