body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), rgba(255,255,255,0.6) url('img/1511-large.jpg');
    background-size: cover;
  }

  .main {
    flex: 1 0 auto;
    padding-top:5%;
    /*padding-bototm:5%;*/
  }

  .collapsible-header {
    line-height:1.6em;
  }

nav {
  background: white;

}

.nav-wrapper, i, a.brand-logo {
  color: #333;
}

.schedule-title {
  font-size:1.25em;
  /*font-size:bold;*/
}

a.brand-logo {
  padding-top:5px;
}
nav li a {
  color: #333;
  font-weight:500;
  /*font-size:14pt;*/
  text-transform: uppercase;
}

.page-footer {
    background: #990000;
  }

.chip:hover {
    background: #666;
    color: white;
}

.social-menu i {
  color: white;
  margin-right:5px;
}
  header {
    background: linear-gradient(rgba(153, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), rgba(0,0,0,0.7) url('img/Track.jpg') center bottom;
    background-size: cover;
    height:225px;
    display:block;
    /*padding-top:90px;*/
    text-transform: uppercase;
    border-bottom:5px solid maroon;

  }


  header h5 {
    display:block;
    line-height: 1.5em;
    /*font-weight: bold;*/
    color: #fafafa;
    font-size: 3em;
    padding:10px 5%;
  }

  li h4 {
    font-size:1.5rem;
  }

  .collapsible-header {
    padding: 10px;
  }

  .collapsible-body {
    padding: 1.5rem;
  }

footer {
  margin-top:5%;
}
